// Import Materialize
@import 'materialize.scss';

// Import Edo Font
@font-face {
  font-family: edo;
  src: url(../fonts/edo.ttf);
}

// Variables
$brandPrimary: #80cbc4;
$brandSecondary: #78909c;

// Media Queries Mixin
@mixin bp($point) {
  @if $point == breakpointTablet {
    @media (max-width: 850px) {
      @content;
    }
  } @else if $point == breakpointPhone {
    @media (max-width: 600px) {
      @content;
    }
  }
}

// Utilties
h1,
h2 {
  text-transform: uppercase;
  font-family: edo;
}

h3,
p,
a {
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.5px;
}

p {
  font-size: 1.125rem;
}

.btn-primary {
  background: $brandPrimary;
  border-radius: 3rem;
}

.btn-primary:hover {
  background: darken($brandPrimary, 10%);
}

.btn-secondary {
  background: $brandSecondary;
  border-radius: 3rem;
}

.btn-secondary:hover {
  background: darken($brandSecondary, 10%);
}

// Navigation
nav {
  background: #fff;
  height: 75px;
  padding-top: 5px;

  .nav-links {
    margin-right: 100px;
    text-transform: uppercase;
  }

  i {
    color: $brandPrimary;
    padding: 0 5px 0 0;
  }
}

.request-quote-cta {
  border-radius: 2rem;
}

.brand-logo {
  max-width: 200px;
  top: 6px;
  left: 100px;
  @include bp(breakpointPhone) {
    top: 9px;
  }
}

.sidenav li > a.btn-flat {
  color: #fff;
}

// Showcase

.section-showcase {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $brandPrimary;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center bottom;
  background-image: url(../img/placeholder.jpg);
  background-attachment: fixed;
}

.showcase-background {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.showcase-content {
  position: absolute;
  z-index: 1;
}

.showcase-title {
  font-size: 7.5rem;
  margin: 0 0 45px 0;
  text-shadow: 1px 1px #000, 1px 1px #000;
  @include bp(breakpointPhone) {
    font-size: 5.5rem;
  }
}

.btn-showcase {
  @extend .btn-primary;
  border-radius: 2rem;
  width: 250px;
  height: 60px;
  letter-spacing: 2px;
  line-height: 60px;
  font-weight: 700;
  border: 2px solid #fff;
}

// Skills
.section-skills {
  background: $brandSecondary;
  padding: 25px 0 4px 0;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    i {
      font-size: 3.75rem;
      @include bp(breakpointPhone) {
        font-size: 2.75rem;
      }
    }
    img {
      max-width: 3.3rem;
      @include bp(breakpointPhone) {
        max-width: 2.75rem;
      }
    }
  }
}

// About
.section-about {
  background: $brandPrimary;
}

.about-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include bp(breakpointPhone) {
    justify-content: center;
    text-align: center;
  }
}

.about-content {
  @include bp(breakpointPhone) {
    text-align: center;
  }
}

.about-img {
  max-width: 400px;
  margin-top: 40px;
}

// Services
.section-services {
  background: url(../img/nd-pattern.png);
  background-size: 30%;
  background-attachment: fixed;
}

.services-title {
  margin-bottom: 40px;
}

.btn-services {
  @extend .btn-primary;
  display: block;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s linear;
}

.btn-services:hover {
  transform: scale(1.03);
}

.card {
  border-top: 30px solid $brandPrimary;
  padding: 40px 10px 10px;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.card-image {
  i {
    font-size: 4rem;
    padding: 10px 0;
  }
}

// Portfolio
.section-portfolio {
  background: $brandPrimary;
  h3 {
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    z-index: 0;
  }
}

.btn-portfolio:hover {
  background: darken($brandSecondary, 10%);
}

.carousel {
  height: 300px;
}

.carousel .carousel-item {
  width: 400px;
}

// Contact
.section-contact {
  background: url(../img/funky-lines.png) center;
  background-attachment: fixed;
}

.contact-form {
  height: 100%;
  border-radius: 1rem;
  max-width: 700px;
  margin-top: 40px;
  border: 5px solid lighten($brandSecondary, 40%);
  form {
    padding: 5px 30px 15px 30px !important;
    .submit-btn {
      @include bp(breakpointPhone) {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.form-title {
  padding: 40px 15px 0 15px;
}

// Footer
.section-footer {
  background: $brandPrimary;
  @include bp(breakpointTablet) {
    text-align: center;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20%;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    text-align: left;
    margin: 0 100px;
    padding-bottom: 1.3rem;
    @include bp(breakpointTablet) {
      grid-template-columns: 1fr;
      text-align: center;
      margin: 0;
    }
  }
}

.col-logo {
  grid-column: 1/2;
  @include bp(breakpointTablet) {
    grid-column: 1 / -1;
  }
  img {
    max-width: 300px;
    @include bp(breakpointTablet) {
      max-width: 200px;
    }
  }
}

.col-address {
  grid-column: 2/3;
  @include bp(breakpointTablet) {
    grid-column: 1 / -1;
  }
}

.col-sitemap {
  grid-column: 3 / 4;
  @include bp(breakpointTablet) {
    grid-column: 1 / -1;
  }
}

.footer-address {
  font-size: 1.15rem;
  line-height: 0.75;
}

.social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  @include bp(breakpointTablet) {
    justify-content: center;
  }
  li:not(.linkedin) {
    margin-left: 15px;
  }
}
